.tabsContainer {
}

.tabsHeader {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.tabButton {
  padding: 10px 20px;
  border: none;

  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.tabButton:hover {
  border-radius: 5px;
  background-color: var(--flowcraft-color-highlight, #865DFFFF);
}

.tabButton.active {
  border-bottom: 3px solid var(--flowcraft-color-highlight, #865DFFFF);
}

.tabButton.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  color: #888;
}

.tabButton.disabled:hover {
  background-color: inherit;
}

.tabsContent {
  padding: 20px 0;
}

@media (max-width: 768px) {
  .tabsHeader {
    flex-direction: column;
  }

  .tabButton {
    width: 100%;
    text-align: left;
  }
}
