main {
  padding: 0 5%; /* Отступы по 5% слева и справа */
  margin: 0 auto; /* Центрирование контента */
  background-color: #f4f4f6;
}

/* Адаптивные отступы для маленьких экранов */
@media (max-width: 768px) {
  main {
    padding: 0 10px; /* Фиксированные отступы на маленьких экранах */
  }
}

section {
  padding-top: 20px;
}

/* 
.drop-area {
  height: 60vh; 
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.drop-area.dragging {
  background-color: #f0f0f0;
  border-color: #888;
}

.plus-icon {
  font-size: 48px;
  color: #888;
  margin-bottom: 10px;
}

.drop-area p {
  color: #888;
  font-size: 16px;
  margin: 0;
} */
