main {
  padding: 0 5%;
  margin: 0 auto;
  background-color: var(--flowcraft-color-light-background, #f4f4f6);;
}

.workflow-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.back-button {
  padding: 0 15px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 32px;
  font-weight: bold;
  color: var(--flowcraft-color-primary, #8cff00);
  transition: transform 0.2s;
}

.back-button:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .workflow-header {
    flex-direction: column;
    align-items: flex-start;
  }
}

section {
  padding-top: 20px;
}

@keyframes main-layout-loading-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main-layout-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  border: 10px solid var(--flowcraft-color-dark-background, #18171c);
  border-left-color: var(--flowcraft-color-highlight, #8cff00);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: main-layout-loading-spin 1.2s linear infinite;
}
