@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("./BasisGrotesquePro-Regular.woff2") format("woff2"),
    url("./BasisGrotesquePro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
