.header {
  background-color: var(--flowcraft-color-primary);
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header-item {
  margin-right: 30px;
  position: relative;
}

.header-link {
  font-family: "Basis Grotesque Pro";
  color: var(--flowcraft-color-light-background);
  text-decoration: none;
  font-size: 20px;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.header-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--flowcraft-color-highlight);
  transition: width 0.3s ease;
}

.header-link:hover::after {
  width: 100%;
}

.header-link:hover {
  color: var(--flowcraft-color-highlight);
  text-decoration: none;
}

.logo {
  font-family: "Basis Grotesque Pro";
  color: var(--flowcraft-color-light-background);
  text-decoration: none;
  font-size: 24px;
}
